
:root{
    --clr-black: #1c1c1c;
    --clr-gray: #ececec;
    --clr-white: #f7f7f7;

    --type-normal: #a8a878;
    --type-fire: #f08030;
    --type-water:#6890f0;
    --type-grass: #78c850;
    --type-electric: #f8d030;
    --type-ice: #98d8d8;
    --type-fighting: #c03028;
    --type-poison: #a040a0;
    --type-ground: #e0c068;
    --type-flying: #a890f0;
    --type-psychic: #f85888;
    --type-bug: #a890f0;
    --type-rock: #88a038;
    --type-ghost: #705898;
    --type-dark: #705848;
    --type-dragon: #7038f8;
    --type-steel: #88b8d0;
    --type-fairy: #f0b6bc;
}

*{
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
}

button{
    background-color: transparent;
    border: 0px;
    border-radius: 0px;
}

body{
    min-height:  100vh;
    background-color: var(--clr-gray );
}

header{
    padding-block: 1rem;
    box-shadow:  0 0 2rem -1rem rgba(0, 0, 0, .5);
}                                                                                                                                                                           

.nav{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start ;
    padding-inline: 1rem;
    max-width: 1000px;
    margin: 0px auto;
}

.nav-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap ;
    gap: .5rem;
}

.btn-header{
    background-color: var(--clr-gray);
    padding: .5rem;
    border-radius: 100vmax;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .25);
    transition: .2s;
}

.btn-header:hover{
    transform:  scale(1.1);
    box-shadow: 0 0 2rem rgba(0, 0, 0, .25);
}

main{
    padding: 2rem;
    max-width: 1000px;
    margin: 0px auto;
}

.pokemon-todos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.pokemon-imagen img {
    width: 100%;
    max-width: 6rem;
}

.pokemon{
 border-radius: 1rem;
 background-color: var(--clr-white);
 box-shadow: 0 0 3 rem -1rem rgba (0, 0, 0, .25);
 padding-block:  1rem;
 text-transform:  uppercase;
 position: relative;
 isolation: isolate;
 overflow: hidden;
}

.pokemon-id-back{
    position: absolute;
    top:1rem;
    left: 50%;
    transform:  translateX(-50%);
    font-size: 9rem;
    font-weight: 800;
    color: var(--clr-gray);
    z-index: -1;
}

.pokemon-imagen{
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
}

.pokemon-info{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-inline: 1rem;
    align-items: center;
    text-align: center;
}

.nombre-contenedor{
    display: flex;
    align-items: center;
    column-gap:.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-id{
    background-color:  var(--clr-gray);
    padding: .5rem;
    border-radius: 100vmax;
    font-size:  .75rem;
    font-weight: 500;
}

.pokemon-tipos{
    display: flex;
    gap: .5rem;
    font-size:  .75rem;
    font-weight: 500;
    flex-wrap: wrap;
    justify-content: center;
}

.tipo{
    padding: 0.5rem;
    border-radius: 100vmax;
}

.pokemon-stats{
    display: flex;
    gap: 1rem;
    font-size: .85rem;
}

.stat{
    background-color: var(--clr-gray);
    padding: 0.5rem;
    border-radius: 100vmax;
}

.normal{
    background-color: var(--type-normal);
}

.fire{
    background-color: var(--type-fire);
}

.water{
    background-color: var(--type-water);
}

.grass{
    background-color: var(--type-grass);
}

.electric{
    background-color: var(--type-electric);
}

.ice{
    background-color: var(--type-ice);
}

.fighting{
    background-color: var(--type-fighting);
}

.poison{
    background-color: var(--type-poison);
}

.ground{
    background-color: var(--type-ground);
}

.flying{
    background-color: var(--type-flying);
}

.psychic{
    background-color: var(--type-psychic);
}

.bug{
    background-color: var(--type-bug);
}

.rock{
    background-color: var(--type-rock);
}

.ghost{
    background-color: var(--type-ghost);
}

.dark{
    background-color: var(--type-dark);
}

.dragon{
    background-color: var(--type-dragon);
}

.steel{
    background-color: var(--type-steel);
}

.fairy{
    background-color: var(--type-fairy);
}